*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utility*/

:root{
    --background-color:rgb(20,25,34);
    --background-color-foot:rgb(39, 39, 39);
    --background-color-aside:black;
    --color-grey:rgb(94,96,101);
}

body{
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.overflow{
    overflow-y: scroll;
}

.overflow-hidden{
    overflow-y: hidden;
}

.white-color{
    color: white;
}

h5, h4{
    padding: 0.4rem 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.contain nav{
    margin-top: 80px;
}

.text-center{
    text-align: center;
}

main{
    height: calc(100vh - 80px);
}

.opacity{
    opacity: 0.5;
}

/*Regole CSS*/

#recent-pl h2{
    padding: 2.5rem 0rem;
}

#john-doe h2, #popular h2{
    margin-top: 1rem;
}

#john-doe .text-grey, #popolar .text-grey{
    margin-bottom: 1rem;
}

.contain{
    width: calc(100% - 60px);
    background-color: var(--background-color);
}

footer{
    height: 80px;
    background-color: var(--background-color-foot);
}

.sidebar{
    width: 60px;
    background-color: var(--background-color-aside);
    padding: 1rem;
}

.sidebar-top{
    height: calc(100% - 80px);
    min-height: 400px;
}

.sidebar-bottom{
    height: 80px;
    justify-content: flex-end;
}

.sidebar-bottom .profile img{
    width: 20px;
    margin-right: 0.7rem;
    background-color: var(--color-grey);
    border-radius: 50%;
    vertical-align: middle;
}

.sidebar-bottom .profile{
    padding-top: 0.5rem;
    vertical-align: middle;
    font-size: 0.8rem;
}

.sidebar-bottom .download img{
    width: 0.8rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.sidebar-bottom .download{
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    vertical-align: middle;
}

.top-bar{
    position: fixed;
    top: 0;
    left: 50px;
    width: calc(100% - 50px);
    justify-content: flex-end;
    align-items: center;
    z-index: 9999;
    height: 70px;
    opacity: 0.7;
    background-color: var(--background-color-aside);
    opacity: 0.5;
}

section li{
    width: 50%;
    padding: 0.4rem;
}

section{
    padding: 0 1rem;
}

section img{
    width: 100%;
}

.contain nav li{
    padding: 1rem;
    display: inline-block;
    font-size: 0.75rem;
    color: var(--color-grey);
}

.button a{
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.7rem 2.5rem;
    font-size: 0.7rem;
    text-align: right;
}

.text-grey{
    color: var(--color-grey);
    font-size: 0.6rem;
}

#popolar img{
    object-fit: cover;
    border-radius: 50%;
}

.logo-small{
    width: 2rem;
}

.logo-big{
    display: none;
    width: 7rem;
}

aside nav img{
    width: 2rem;
    vertical-align: middle;
}

aside nav li{
    vertical-align: middle;
    padding-bottom: 0.5rem;
}

aside nav{
    padding: 2rem 0;
}

aside nav span{
    display: none;
}

aside i{
    background-color: grey;
    color: black;
    padding: 0.5rem;
    margin-right: 0.6rem;
    margin-bottom: 0.8rem;
}

.playlist li{
    padding: 0.5rem 0;
}


/*Responsive*/

@media screen and (min-width:576px) {

    .sidebar{
        width: 250px;
    }
    
    .contain{
        width: calc(100% - 250px);
    }

    .top-bar{
        position: fixed;
        top: 0;
        left: 250px;
        width: calc(100% - 250px);
    }

    section li{
        width: calc(100% / 2);
    }

    .logo-small{
        display: none;
    }

    .logo-big{
        display: block;
    }

    aside nav span{
        display: inline;
    }
}

@media screen and (min-width:768px) {

    section li{
        width: calc(100% / 4);
    }
}

@media screen and (min-width:992px) {
     
    section li{
        width: calc(100% / 6);
    }

}

@media screen and (min-width:1200px) {
     
}

